@charset "UTF-8";

@font-face {
    font-family: 'IBMPS';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url('/fonts/IBMPlexSans-Light.woff') format('woff');
    unicode-range: U+0000-00FF, U+0100-024F; /* Latin */
}
@font-face {
    font-family: 'IBMPS';
    font-style: italic;
    font-weight: 300;
    font-display: block;
    src: url('/fonts/IBMPlexSans-LightItalic.woff') format('woff');
    unicode-range: U+0000-00FF, U+0100-024F; /* Latin */
}
@font-face {
    font-family: 'IBMPS';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/IBMPlexSans-Regular.woff') format('woff');
    unicode-range: U+0000-00FF, U+0100-024F; /* Latin */
}
@font-face {
    font-family: 'IBMPS';
    font-style: italic;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/IBMPlexSans-RegularItalic.woff') format('woff');
    unicode-range: U+0000-00FF, U+0100-024F; /* Latin */
}
@font-face {
    font-family: 'IBMPS';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url('/fonts/IBMPlexSansArabic-Light.woff') format('woff');
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF; /* Arabic */
}
@font-face {
    font-family: 'IBMPS';
    font-style: italic;
    font-weight: 300;
    font-display: block;
    src: url('/fonts/IBMPlexSansArabic-Light.woff') format('woff');
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF; /* Arabic */
}
@font-face {
    font-family: 'IBMPS';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/IBMPlexSansArabic-Regular.woff') format('woff');
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF; /* Arabic */
}
@font-face {
    font-family: 'IBMPS';
    font-style: italic;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/IBMPlexSansArabic-Regular.woff') format('woff');
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF; /* Arabic */
}