---
import Layout from '@layouts/Layout.astro';
import { DEFAULT_LANGUAGE, UI_DICTIONARY } from '@lib/languageUtils';
---

<Layout lang={DEFAULT_LANGUAGE.id} title={UI_DICTIONARY.homePage[DEFAULT_LANGUAGE.id]}>
    <h2>
        Home
    </h2>
</Layout>