---
import Layout from "../layouts/Layout.astro";

const projects = [
	{ slug: "modal", title: "First Project", },
	{ slug: "modal", title: "Second Project", },
	{ slug: "modal", title: "Third Project", },
];
---

<Layout useClientRouter={true}>
	<div id="container" transition:persist="root">
		<ul>
			{projects.map((project) => (
				<li>
					<a href={`/${project.slug}`}>{project.title}</a>
				</li>
			))}
		</ul>
	</div>
</Layout>