---
import Layout from '@layouts/Layout.astro';
import { DEFAULT_LANGUAGE_ID, UI_DICTIONARY } from '@lib/languageUtils';
---

<Layout lang={DEFAULT_LANGUAGE_ID} title={UI_DICTIONARY.homePage[DEFAULT_LANGUAGE_ID]}>
    <h2>
        Home
    </h2>
    <!-- TODO featured -->
</Layout>