---
---

<header id="header">
	<a href="/" data-astro-reload>Global Header</a>
</header>

<style lang="scss">
	@use "../styles/mixins.scss";
	#header {
		background: pink;
		padding: 1rem;
	}
	a {
		@include mixins.hyperlink;
	}
</style>